@font-face {
  font-family: 'space_questregular';
  src: url("./Fuentes/space_quest-webfont.woff2") format("woff2"), url("./Fuentes/space_quest-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'road_rageregular';
  src: url("./Fuentes/road_rage.woff2") format("woff2"), url("./Fuentes/road_rage.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.Contenedor {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 5em;
}

.Titulo {
  font-family: 'road_rageregular';
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.Titulo span {
  font-family: 'road_rageregular';
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}

.Header {
  padding: 1em 0;
  border-bottom: 1px solid #D0D0D0;
}

.Header a.Continuar:link, .Header a.Continuar:visited {
  text-decoration: none;
  font-family: 'space_questregular';
  letter-spacing: -.015em;
  font-size: .75em;
  padding: 1em;
  color: #fff;
  background: #b60398;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.Header a.Continuar:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.Header a.Continuar:hover, .Header a.Continuar:focus, .Header a.Continuar:active {
  background: #f69679;
}

.Header a.Continuar:hover:after, .Header a.Continuar:focus:after, .Header a.Continuar:active:after {
  right: -10px;
}

.Carrito {
  padding: 1em 0;
}

.Carrito .Articulo {
  display: block;
  width: 100%;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}

.Carrito .Articulo.Par {
  background: #fafafa;
}

.Carrito .Articulo .Info {
  display: table;
  width: 100%;
}

.Carrito .Articulo .Seccion {
  display: table-cell;
  vertical-align: middle;
}

.Carrito .Articulo .Seccion h3 {
  font-size: 1em;
  font-family: 'road_rageregular';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .025em;
}

.Carrito .Articulo .Seccion p {
  display: inline-block;
  font-size: .85em;
  color: #777777;
  font-family: 'space_questregular';
}

.Carrito .Articulo .Seccion p .quantity {
  font-weight: bold;
  color: #333;
}

.Carrito .Articulo .Seccion p.stockStatus {
  color: #82CA9C;
  font-weight: bold;
  padding: .5em 0 0 1em;
  text-transform: uppercase;
}

.Carrito .Articulo .Seccion p.stockStatus.out {
  color: #F69679;
}

.Carrito .Articulo .Seccion .Imagen {
  width: 4em;
  float: left;
}

.Carrito .Articulo .Seccion.SubTotal {
  text-align: center;
}

.Carrito .Articulo .Seccion.SubTotal p {
  font-size: 1.25em;
}

.Carrito .Articulo .Seccion input.Cantidad {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: .25em;
  margin: 1em .5em 0 0;
}

.Carrito .Articulo .Seccion .Imagen {
  width: 8em;
  display: inline;
  padding-right: 1em;
}

a.Eliminar {
  text-decoration: none;
  font-family: 'road_rageregular';
  color: #ffffff;
  font-weight: bold;
  background: #e0e0e0;
  padding: .5em;
  font-size: .75em;
  display: inline-block;
  border-radius: 100%;
  line-height: .85;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

a.Eliminar:hover {
  background: #f30;
}

.Boton:link, .Boton:visited {
  text-decoration: none;
  font-family: 'space_questregular';
  letter-spacing: -.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #b60398;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.Boton:after {
  content: "\276f";
  padding: .5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

.Boton:hover, .Boton:focus, .Boton:active {
  background: #f69679;
}

.Boton:hover:after, .Boton:focus:after, .Boton:active:after {
  right: -10px;
}

/* TOTAL */

.Cuenta .Total.Final {
  font-size: 1.25em;
}

.Cuenta .Total span {
  display: inline-block;
  text-align: right;
}

.Cuenta .Total .Label {
  font-family: 'road_rageregular';
  font-size: .85em;
  text-transform: uppercase;
  color: #777;
}

.Cuenta .Total .Precio {
  font-family: 'space_questregular';
  letter-spacing: -.025em;
  width: 35%;
}

@media only screen and (max-width: 992px) {
  .Contenedor {
    width: 98%;
    padding: 2% 0;
  }
  .Titulo {
    font-size: 1.5em;
    padding: 10% 5%;
  }
  .Header {
    padding: 1em;
    font-size: 90%;
  }
  .Carrito .Articulo .Seccion {
    width: 90%;
    display: block;
    float: left;
  }
  .Carrito .Articulo .Seccion.SubTotal, .Carrito .Articulo .Seccion.btn_Eliminar {
    display: none;
  }
  .Carrito .Articulo .Seccion .Imagen {
    width: 25%;
  }
  .Cuenta {
    width: 100%;
  }
  .Cuenta .Total {
    text-align: center;
  }
  a.Boton.Pagar {
    width: 100%;
    text-align: center;
    margin-right: 20px;
  }
}
/*# sourceMappingURL=carrito.css.map */