@font-face {
  font-family: 'space_questregular';
  src: url('./Fuentes/space_quest-webfont.woff2') format('woff2'),
        url('./Fuentes/space_quest-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'road_rageregular';
  src: url('./Fuentes/road_rage.woff2') format('woff2'),
       url('./Fuentes/road_rage.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body{
  background: #1a163a;
}

.Centrar{
  position: relative;
  text-align: center;
}

#app{
  margin-top: 150px;
}

#Titulo{
  border-radius: 15px;
  font-family: 'road_rageregular';
  font-size: 3rem;
  margin-bottom: 100px;
}

h2{
  text-align: center;
  color: #e6739f;
  font-family: 'road_rageregular';
}

.form-check{
  margin-top: 15px;
  margin-bottom: 15px;
}

label{
  color: #fff6ff;
  font-family: 'Black Ops One';
}

#Circulos1{
  padding-top: 10px;
  padding-bottom: 10px;
}
#Circulos2{
  padding-top: 10px;
  padding-bottom: 10px;
}
.Preferencias{
  border-radius: 50%;
  background-color: transparent;
  border-color: transparent;
  height:60px;
  width:60px;
}
.active{ 
  background: #bc6ff1; 
} 
button.Preferencias:active{ 
  background: #bc6ff1; 
} 
.img_Preferencias{
  width: 45px;
}

h3{
  font-family: 'space_questregular';
  color: #6068cb;
}

.Botones{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
  
#btn_Volver{
  background-color: #d79cd5;
  border-color: #d79cd5;
  font-family: 'space_questregular';
}
#btn_Comprar{
  background-color: #222fd1;
  border-color: #222fd1;
  font-family: 'space_questregular';
}
  
.Botones button{
  width: 170px;
  margin-bottom: 20px;
}

/* Tamaño tablet */
@media (max-width: 992px) {
  #Titulo{
      font-size: 2.5rem;
  }
}

/* Tamaño celular */
@media (max-width: 768px) {
  #Titulo{
      font-size: 2rem;
  }
}