@font-face {
    font-family: 'commandocommando';
    src: url('./Fuentes/commando-webfont.woff2') format('woff2'),
         url('./Fuentes/commando-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space_questregular';
    src: url("./Fuentes/space_quest-webfont.woff2") format("woff2"), url("./Fuentes/space_quest-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'road_rageregular';
    src: url("./Fuentes/road_rage.woff2") format("woff2"), url("./Fuentes/road_rage.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hermesregular';
    src: url('./Fuentes/hermes-regular-webfont.woff2') format('woff2'),
         url('./Fuentes/hermes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'voyager_grotesque_boldbold';
    src: url('./Fuentes/v-gerbbold-webfont.woff2') format('woff2'),
         url('./Fuentes/v-gerbbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'perfect_dark_brkregular';
    src: url('./Fuentes/pdark-webfont.woff2') format('woff2'),
         url('./Fuentes/pdark-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.C_Contenedor {
    width: 75%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 2em;
}

.C_Titulo {
    font-family: 'hermesregular';
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    padding: 1em 0;
    border-bottom: 1px solid #f914c9;
    text-shadow: 2px 2px 2px rgba(0, 0, 255, 0.747);
    letter-spacing: 3px;
    text-transform: uppercase;
}

#txt_Carrito{
    color: #fff;
}

.C_Header {
    padding: 1em 0;
    border-bottom: 1px solid #f914c9;
}

.C_Header a.C_Continuar {
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    letter-spacing: -.015em;
    font-size: .75em;
    padding: 1em;
    color: rgb(255, 255, 255);
    background: #ca10a3;
    border-radius: 50px;
    float: right;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.C_Header a.C_Continuar:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.C_Header a.C_Continuar:hover, .C_Header a.C_Continuar:focus, .C_Header a.C_Continuar:active {
    background: #f914c9;
}

.C_Header a.C_Continuar:hover:after, .C_Header a.C_Continuar:focus:after, .C_Header a.C_Continuar:active:after {
    right: -10px;
}

.C_Carrito {
    padding: 1em 0;
}

.C_Carrito .C_Articulo {
    display: block;
    width: 100%;
    padding: 1.5em;
    border-bottom: 1px solid #f914c9;
}

.C_Carrito .C_Articulo.C_Par {
    background: linear-gradient(to left, #00000000, rgb(39, 2, 70), #00000000);
}

.C_Carrito .C_Articulo .C_Info {
    display: table;
    width: 100%;
}

.C_Carrito .C_Articulo .C_Seccion {
    display: table-cell;
    vertical-align: middle;
}

.C_Carrito .C_Articulo .C_Seccion h3 {
    font-size: 1em;
    font-family: 'voyager_grotesque_boldbold';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;
}

.C_Carrito h3{
    color: #fff;
}

.C_Carrito .C_Articulo .C_Seccion p {
    display: inline-block;
    font-size: .85em;
    color: #ca10a3;
    font-family: 'space_questregular';
}

.C_Carrito .C_Articulo .C_Seccion p .C_quantity {
    font-weight: bold;
    color: #ca10a3;
}

.C_Carrito .C_Articulo .C_Seccion .C_Imagen {
    width: 4em;
    float: left;
}

.C_Carrito .C_Articulo .C_Seccion.C_SubTotal {
    text-align: center;
}

.Carrito .Articulo .Seccion.SubTotal p {
    font-size: 1.25em;
}

.C_Carrito .C_Articulo .C_Seccion input.C_Cantidad {
    width: 2em;
    text-align: center;
    font-size: 1em;
    padding: .25em;
    margin: 1em .5em 0 0;
    background: transparent;
    border: none;
}

.C_Carrito .C_Articulo .C_Seccion .C_Imagen {
    width: 8em;
    display: inline;
    padding-right: 1em;
}

a.C_Eliminar {
    text-decoration: none;
    font-family: 'hermesregular';
    color: #ffffff;
    font-weight: bold;
    background: #ca10a3;
    padding: .5em;
    font-size: .75em;
    display: inline-block;
    border-radius: 100%;
    line-height: .85;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

a.C_Eliminar:hover {
    background: #f914c9;
}

.C_Boton:link, .C_Boton:visited {
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: bold;
    letter-spacing: -.015em;
    font-size: 1em;
    padding: 1em 3em;
    color: #fff;
    background: #ca10a3;
    font-weight: bold;
    border-radius: 50px;
    float: right;
    text-align: right;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

.C_Boton:after {
    content: "\276f";
    padding: .5em;
    position: relative;
    right: 0;
    -webkit-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.C_Boton:hover, .C_Boton:focus, .C_Boton:active {
    background: #f914c9;
}

.C_Boton:hover:after, .C_Boton:focus:after, .C_Boton:active:after {
    right: -10px;
}

/* TOTAL */


/* Tamaño celular */
@media (max-width: 768px) {
    .C_Cuenta .C_Total {
        float: center;
        padding: .5em;
        text-align: center;
        margin-right: 15px;
    }
    .C_Cuenta .C_Total span {
        display: inline-block;
        text-align: center;
    }
}

.Login .User_Input {
    position: relative;
}
  
.Login .User_Input input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #f914c9;
    outline: none;
    background: transparent;
}
.Login .User_Input label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.Login .User_Input input:focus ~ label,
.Login .User_Input input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f914c9;
    font-size: 12px;
}

.C_Cuenta .C_Total {
    float: right;
    padding: .5em;
    text-align: right;
    margin-right: 15px;
}

.C_Cuenta .C_Total.C_Final {
font-size: 1.25em;
}

.C_Cuenta .C_Total span {
display: inline-block;
text-align: right;
}

.C_Cuenta .C_Total .C_Label {
font-family: 'hermesregular';
font-size: 1em;
text-transform: uppercase;
color: #fff;
}

.C_Cuenta .C_Total .C_Precio {
    color: #f914c9;
    font-family: 'hermesregular';
    margin-left: 10px;
    font-size: 1em;
    letter-spacing: -.025em;
    width: 35%;
}

@media only screen and (max-width: 992px) {
    .C_Contenedor {
        width: 98%;
        padding: 2% 0;
    }
    .C_Titulo {
        font-size: 2rem;
        padding: 5% 5%;
    }
    .C_Header {
        padding: 1em;
        font-size: 90%;
    }
    .C_Carrito .C_Articulo .C_Seccion {
        width: 90%;
        display: block;
        float: left;
    }
    .C_Carrito .C_Articulo .C_Seccion.C_SubTotal, .C_Carrito .C_Articulo .C_Seccion.C_btn_Eliminar {
        display: none;
    }
    .C_Carrito .C_Articulo .C_Seccion .C_Imagen {
        width: 25%;
    }
    .C_Cuenta {
        width: 100%;
    }
    .C_Cuenta .C_Total {
        text-align: center;
    }
    a.C_Boton.C_Pagar {
        width: 90%;
        text-align: center;
        margin-right: 20px;
    }
}